{% extends "main.njk" %} {% block content %}
<header>there</header>
<p>This is the thing.</p>
<p>there</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate, elit a
  faucibus accumsan, lectus eros posuere augue, sed condimentum sem metus vel
  ante. Suspendisse potenti. Fusce venenatis efficitur turpis sit amet
  consequat. Maecenas imperdiet lorem at aliquam mollis. Interdum et malesuada
  fames ac ante ipsum primis in faucibus. Nullam blandit tortor metus, quis
  rutrum nisl imperdiet sed. Proin vel auctor turpis. Nullam sit amet euismod
  est, sit amet tincidunt ligula. Nulla facilisi. Ut eget ullamcorper purus, id
  posuere libero. Nam suscipit tellus eu mi ultricies pellentesque.
</p>
{% endblock %}
